<form [formGroup]="form" class="d-flex flex-column col-lg-6 col-md-12" (ngSubmit)="save()">
  <app-input
    placeholder="Channel"
    formControlName="name"
    label="name"
    class="col mb-5"
  />
  <ng-select
    [items]="peers"
    bindLabel="name"
    bindValue="id"
    placeholder="Peers"
    formControlName="peers"
    label="peers"
    [multiple]="true"
    class="col mb-5"
    appearance="outline"
  />
  <app-button label="save" class="w-100" type="submit" [disabled]="form.invalid" />
</form>
