<div class="table-container" appInfiniteScroll (scrolled)="loadMore.emit()">
  <table mat-table [dataSource]="dataSource()">
    @for (column of columns(); track column.field) {
      <ng-container [matColumnDef]="column.field">
        <th mat-header-cell *matHeaderCellDef>
          {{ column.label | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element[column.field] }}</td>
      </ng-container>
    }
    <ng-container [matColumnDef]="'add'">
      <th mat-header-cell *matHeaderCellDef>
        <a routerLink="./add">
          <app-icon-button [icon]="'add_circle'" />
        </a>
      </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="_displayedColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: _displayedColumns()"></tr>
  </table>
</div>
